<div class="row">
 <div class="col-md-6 col-md-offset-3">




<h1><%= @event.description.upcase %> </h1>
	<div class= "center">
		<% if current_user.attending?(@event)%>
		 <%= link_to 'Cancel', attendances_path(event_id: @event.id), method: :delete,  class: "btn btn-danger" %>
		<%else %>
		<%= link_to 'Attend', attendances_path(event_id: @event.id), method: :post, class: "btn btn-success" %>
		<%end%>
	</div>

<div>
	<p><b>Event creator: </b><%= @event.creator.name %></p>
	<p><b>Date: </b><%= @event.date.strftime("%B %e, %Y") %></p>
  <p><b>Where: </b><%= @event.location %></p>
</div>

<hr>


<div class="row">
 <div class="col-md-6 col-md-offset-3">

<h1> Attedancees: <h1>
  <% @event.attendees.each do |e| %>
		<ul>
		<li>
			<%= link_to e.name, user_path(e.id) %>
		</li>
		</ul>
  <%end%>





 </div>
 </div>